/* 1. 기본 마진 및 패딩 제거 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. 기본 폰트 스타일 초기화 */
body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* 3. 목록 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 4. 링크 스타일 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 5. 테이블 스타일 초기화 */
table {
  border-collapse: collapse;
  width: 100%;
}

/* 6. 입력 요소의 기본 스타일 제거 */
a,
input,
button,
select,
textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: inherit;
}

/* 7. 이미지의 기본 스타일 초기화 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}